@page
@using FamilyHubs.RequestForSupport.Core.ApiClients
@model FamilyHubs.RequestForSupport.Web.Pages.Vcs.VcsRequestDetailsPageModel

@section Back {
    <a asp-page="/Vcs/Dashboard" class="govuk-back-link">Back</a>
}

@if (Model.HasErrors)
{
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var errorId in Model.Errors)
                    {
                        var error = Model.GetError(errorId);
                        <li>
                            <a href="#@error!.HtmlElementId">@error.ErrorMessage</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Request @Model.Referral.Id.ToString("X6")</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-!-margin-bottom-6">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date received
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Referral.Created?.ToString("dd MMM yyyyy")
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Status
                </dt>
                <dd class="govuk-summary-list__value">
                    <partial name="_ConnectionStatus" for="@Model.Referral" />
                </dd>
            </div>
        </dl>
    </div>
</div>

@* todo: better to just have margin-bottoms? *@
<div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Reason for the connection request</h2>
        <p class="app-break-spaces">@Model.Referral.ReasonForSupport</p>
    </div>
</div>

<partial name="_RecipientContactDetails" for="@Model.Referral.RecipientDto" />

<div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">How the service can engage @Model.Referral.RecipientDto.Name</h2>
        <p class="app-break-spaces">@Model.Referral.EngageWithFamily</p>
    </div>
</div>

<partial name="_ProfessionalContactDetails" for="@Model.Referral.ReferrerDto" />

@if ((ReferralStatus)Model.Referral.Status.Id is ReferralStatus.New or ReferralStatus.Opened)
{
    Error? selectResponseError = Model.GetCurrentError(ErrorId.SelectAResponse);

    <form method="post" novalidate data-validate='my-form-validation'>
        @* todo: might have to check for options error only x 2*@
        <div class="govuk-form-group @(Model.HasErrors ? "govuk-form-group--error" : "")">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="select-option @(Model.HasErrors ? "option-error" : "")">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Your response
                    </h2>
                </legend>
                <div id="select-option" class="govuk-hint">
                    Select one option.
                </div>
                @if (selectResponseError != null)
                {
                    <p id="option-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @selectResponseError.ErrorMessage
                    </p>
                }
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        @* todo: need to set at any point?*@
                        <input class="govuk-radios__input" id="accept-request" name="AcceptOrDecline" type="radio" value="@AcceptDecline.Accepted">
                        <label class="govuk-label govuk-radios__label" for="accept-request">
                            Accept - our service will contact this person to offer support
                        </label>
                    </div>
                    @* todo: reapply stash bit by bit *@
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="decline-request" name="AcceptOrDecline" type="radio" value="@AcceptDecline.Declined" @(Model.Errors.Contains(ErrorId.EnterReasonForDeclining) ? "checked" : "") data-aria-controls="conditional-contact">
                        <label class="govuk-label govuk-radios__label" for="decline-request">
                            Decline - our service will not offer support
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                        <div class="govuk-form-group">
                            <h3 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="reason-for-declining">
                                    Reason for declining
                                </label>
                            </h3>
                            <div id="more-detail-hint" class="govuk-hint">
                                You will no longer have access to this request.
                            </div>
                            <textarea class="govuk-textarea" asp-for="ReasonForRejection" id="reason-for-declining" name="ReasonForRejection" rows="5" aria-describedby="more-detail-hint"></textarea>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="govuk-button-group">
                <button type="submit" name="userAction" value="AcceptDecline" class="govuk-button" data-module="govuk-button">
                    Send response
                </button>
                @* todo: styling *@
                <button type="submit" name="userAction" value="ReturnLater" class="fh-button-link">Return later</button>
            </div>
        </div>
    </form>
}
