@page
@using FamilyHubs.RequestForSupport.Web.Dashboard

@model FamilyHubs.RequestForSupport.Web.Pages.VcsRequestForSupport.DashboardModel
@{
    ViewData["Title"] = "Received requests";
}

@* todo: borrow the status box (for accessibility) from the moj component (or perhaps do without the status box?) (see createStatusBox) *@
@* todo: borrow some of the moj js code and sort in the front end if there is only a single page (sort would have to be case insensitive) *@
@* todo: highlight on selected header is slightly too short*@
@* todo: add css to replicate the prototype's custom widths. any support from the component for that?*@
@* todo: scrolling on mobile *@

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Received requests</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @* todo: componentise*@
                @Html.Raw(TableHeader("Contact in family", Column.RecipientName))
                @Html.Raw(TableHeader("Date received", Column.DateReceived))
                <th scope="col" class="govuk-table__header">Request number</th>
                @Html.Raw(TableHeader("Status", Column.Status))
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            @foreach (var item in Model.SearchResults!.Items)
            {
                var itemStatus = item.Status.Name;

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a asp-page="/VcsRequestForSupport/ConnectDetails" asp-route-id="@item.Id" class="govuk-!-margin-right-1">@item.RecipientDto.Name</a>
                    </td>
                    @if (Model.ShowTeam)
                    {
                        <td class="govuk-table__cell">@item.ReferrerDto.Team</td>
                    }
                    <td class="govuk-table__cell">@item.Created?.ToString("dd-MMM-yyyy")</td>

                    <td class="govuk-table__cell">@item.Id.ToString("X4")</td>

                    <td class="govuk-table__cell">
                        <partial name="_ConnectionStatus" for="@itemStatus"/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <partial name="_LargeSetPagination" model='Model.Pagination'/>
    </div>
</div>

@functions
{
    private string TableHeader(string displayName, Column column)
    {
        Sort sort = Model.ColumnSort![(int)column];
        return $@"<th scope=""col"" class=""govuk-table__header"" aria-sort=""{sort}""><a href=""/VcsRequestForSupport/Dashboard?columnName={column}&sort={sort}"">{displayName}</a ></th>";
    }
}
