@using FamilyHubs.RequestForSupport.Web.Pages.VcsRequestForSupport

@model IDashboard<object>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="moj-scrollable-pane"><table class="govuk-table @Model.TableClass">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    @foreach (var columnHeader in Model.ColumnHeaders)
                    {
                        <th scope="col" class="govuk-table__header" @(columnHeader.Sort.HasValue ? $"aria-sort={columnHeader.Sort.Value}" : "")>
                            @Html.Raw(columnHeader.ContentAsHtml)
                        </th>
                    }
                </tr>
                </thead>

                <tbody class="govuk-table__body">
                @foreach (var row in Model.Rows)
                {
                    <tr class="govuk-table__row">
                        @foreach (var cell in row.Cells)
                        {
                            <td class="govuk-table__cell">
                                @* todo: render partial in Model instead, if can't get past generic model *@
                                @if (cell.PartialName != null)
                                {
                                    <partial name="@cell.PartialName" model="row.Item"/>
                                }
                                else
                                {
                                    @Html.Raw(cell.ContentAsHtml)
                                }
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <partial name="_LargeSetPagination" model='Model.Pagination' />
    </div>
</div>
